<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finance 404</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css'  %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'  %} ">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css'  %}">


</head>
<body id="reportsPage">
    <div class="" id="home">

    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block"></h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-12 col-lg-12 col-md-12">


                 <div class="form-group mb-3 text-center">
                     <label for="">404 ERROR</label>
                 </div>

                  <div class="form-group mb-3 text-center">
                     <a href="{% url 'index' %}">GO MAIN PAGE</a>
                 </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    </div>

</body>
</html>
