<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finance audit</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css'  %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'  %} ">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css'  %}">


</head>

<body id="reportsPage">

        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="http://127.0.0.1:8000/finance/">
                    <h1 class="tm-site-title mb-0">Finance Audit</h1>
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">

                        <li class="nav-item">
                            <a class="nav-link" href="http://127.0.0.1:8000/finance/">
                                <i class="fas fa fa-cogs"></i>
                                Statistic
                            </a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="http://127.0.0.1:8000/finance/add-costs">
                                <i class="far fa fa-cart-plus"></i>
                                <span>
                                    Add costs
                                </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="http://127.0.0.1:8000/finance/add-profit">
                                <i class="fas fa fa-university"></i>
                                Add profit
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="http://127.0.0.1:8000/finance/about/">
                                <i class="far fa fa-question"></i>
                                About
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Profit</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-12 col-lg-12 col-md-12">
                <form method="POST" action="{% url 'add_profit' %}" class="tm-edit-product-form">
                    {% csrf_token %}

                    <div class="form-group mb-3">
                    <label for="name">Date</label>
                    <input id="date" name="date" type="date" class="form-control validate" required />
                    </div>


                    <div class="form-group mb-3">
                    <label for="name">Money add</label>
                    <input id="name" name="money" type="number" min="1" class="form-control validate" required/>
                    </div>


              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Save</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>

    <script src="{% static 'jquery-ui-datepicker/jquery-ui.min.js'  %}"></script>

    <script src="{% static 'js/bootstrap.min.js'  %}"></script>

    <script>
      $(function() {
        $("#expire_date").datepicker();
      });
    </script>
</body>
</html>
